
<html lang="en">

<body>
    <nav>
        <h1>welcome in {{title}}</h1>

        <div>
            <a href="/">home</a>
            <a href="/weather">weather</a>
        </div>


    </nav>
</body>
</html>